@import "../../../../styles/colors.scss";
.form {
  height: 100%;

  .forget {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px !important;
    text-align: right;
  }
  .passwordField,
  .checkboxField {
    margin-bottom: 26px;
  }
  .forgetPassword {
    font-weight: 500 !important;
  }

  .validationMsg {
    color: $gray;
    font-size: 13px !important;
    font-weight: 400;
    margin-left: 115px;
  }

  .forgetPassword,
  .signUp {
    color: $primary-color;
    text-decoration: none;
    font-weight: bold;
  }

  .forgetPassword:hover,
  .signUp:hover {
    color: $secondary-color;
  }

  .member {
    font-size: 1.075rem !important;
    color: $gray;
    font-weight: 500;
    margin: 0px;
    text-align: center;
  }

  :global(.ant-form-item-row) {
    justify-content: center;
  }

  :global(.ant-col) {
    margin-left: 0px;
    max-width: 100%;
  }

  :global(.ant-form-item-control-wrapper) {
    width: 100%;
  }

  :global(.ant-form) {
    width: 100%;
  }

  .line {
    margin-bottom: 0.75rem !important;
    display: flex;
    flex-flow: row;
    .subLine {
      width: 100px;
      height: 5px !important;
      background-color: $secondary-color2;
      border-radius: 20px !important;
      margin-right: 6px !important;
    }
  }
  .inputBox{
    padding: 10px 13px;
    color: $gray4;
    border: 1px solid $secondary-color2;
    box-shadow: none;
    background: transparent;
  }
  .button {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0px;

    .btnSuccess {
      background-color: $primary-color;
      color: $white;
      cursor: pointer;
      border: 0;
    }

    .btnSuccess:hover {
      background-color: $secondary-color;
    }

    .btnCancel {
      background-color: $light;
      color: $gray2;
      box-shadow: none;
    }

    .btnCancel:hover {
      background-color: $gray3;
      color: $gray2;
    }
  }
}
