$primary-color: #04c8c8;
$secondary-color: #00afaf;
$secondary-color2: #e1e3ea;
$white: #fff;
$black: #000;
$bg-color: #f3f6f9;
$gray: #a1a5b7;
$light-blue: #cedef7;
$blue: #0d6efd;
$gray2: #7e8299;
$blue200: #1883C2;
$blue300: #1F9FE9;
$blue400: #4BB9F8;
$blue200: #1883c2;
$blue300: #1f9fe9;
$blue400: #4bb9f8;
$gray3: #f4f4f4;
$light: #f9f9f9;
$dark-red: #d9505c;
$red:#FF0000;
$dark-green: #00ab6f;
$light-red: #fff1f0;
$light-green: #e6fff1;
$gray4: #5e6278;
$cal-nav: #455560;
$cal-separator: #72849a;
$cal-cardBody-border: rgb(236, 236, 236);
$sidebar-select-color: #e6f4ff;
$hr-color: #e6ebf1;
$header-dark-bg-color: #001529;
$sidebar-select-color2: #3083f8;
$sidebar-select-border-color: #1677ff;
$sidebar-scroll-color: #708090;
$sidebar-scroll-color2: #b8c0c8;
$contactUs-bg-color:#4a91ff;
$gray5:#ebe7e7